<div style="display: flex;text-align: center;">
<div class="p-field p-col-12 p-md-4">
    <h5>
        <a routerLink="/subscribers">Subscribers</a>
    </h5>
    <p-knob [(ngModel)]="subscribers.length" [readonly]="true"></p-knob>
    
</div>
<div class="p-field p-col-12 p-md-4">
    <h5>
        <a routerLink="/services">Services</a>
    </h5>
    <p-knob [(ngModel)]="services.length" [readonly]="true"></p-knob>
</div>
<div class="p-field p-col-12 p-md-4">
    <h5>
        <a routerLink="/materiels">Matériels</a>
    </h5>
    <p-knob [(ngModel)]="materiels.length" [readonly]="true"></p-knob>
</div>
<div class="p-field p-col-12 p-md-4">
    <h5>
        <a routerLink="/abonnements">Abonnements</a>
    </h5>
    <p-knob [(ngModel)]="abonnements.length" [readonly]="true"></p-knob>
</div>
</div>