.p-d-flex{
    padding: 10px;
    font-size: 31px;
    font-style: oblique;
    background: hsl(210deg 67% 56%);
    color: #f8f9fa;
    width: 1349px;
    height: 70px;
    margin-bottom: -18px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    box-shadow: 5px 14px 10px 0px #6c757d66;
    position:fixed;
    padding-left: 35px;
}
i.pi.pi-fw.pi-home {
    color: white;
    cursor: pointer;
}

p-menubar {
    float: right !important;
    margin-right: 60px !important;
    margin-top: -39px !important;
    color: #87cace !important;
}


element.style {
    padding-right: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
}

.p-menubar.p-component{
    padding: 0px !important;
    height: 48px !important;
}