<div class="ui-g">
    <p-toast></p-toast>
    <p-confirmDialog header="Confirmation" acceptLabel="Oui" rejectLabel="Non" icon="pi pi-exclamation-triangle">
    </p-confirmDialog>
    <p-panel header="Gestion de subscribers" [style]="{'width':'95%'}">
        <div style="margin-bottom: 20px;">
            <p-menubar [model]="items"></p-menubar>
        </div>
        <p-table [value]="subscribers" [columns]="cols" selectionMode="single" [(selection)]="subscriber"
            dataKey="num_sim" [paginator]="true" [rows]="4">

            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                        {{col.header}}
                        <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                            ariaLabelDesc="Activate to sort in descending order"
                            arialLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                    </th>
                    <th>
                        Service
                        <p-sortIcon ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order"
                            arialLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-subscriber let-columns="columns">
                <tr [pSelectableRow]="subscriber">
                    <td *ngFor="let col of columns">
                        {{subscriber[col.field]}}
                    </td>
                    <td>
                        {{subscriber.service.nom_service}}
                    </td>
                    <td>
                        <button type="button" (click)="show()" pButton icon="pi pi-info-circle"
                            label="Show"></button>
                    </td>
            </ng-template>
        </p-table>
    </p-panel>
    <p-dialog header="Nouveau subscriber" [responsive]="true" [(visible)]="displaySaveDialog"
        [style]="{'width': '300px', 'background':'hsl(210deg 67% 56%)'}" [modal]="true" styleClass="p-fluid">

        <ng-template pTemplate="content">

            <div class="ui-g ui-fluid">
                <div class="ui-g-12">
                    <div class="ui-g-4">
                        <label for="nom_subscriber">Nom</label>
                    </div>
                    <div class="ui-g-8">
                        <input pInputText id="nom_subscriber" [(ngModel)]="subscriber.nom_subscriber" required="true" />
                    </div>
                </div>
            </div>

            <div class="ui-g ui-fluid">
                <div class="ui-g-12">
                    <div class="ui-g-4">
                        <label for="prenom_subscriber">Prénom</label>
                    </div>
                    <div class="ui-g-8">
                        <input pInputText id="prenom_subscriber" [(ngModel)]="subscriber.prenom_subscriber" required />
                    </div>
                </div>
            </div>

            <div class="ui-g ui-fluid">
                <div class="ui-g-12">
                    <div class="ui-g-8">
                        <label for="num_sim">Numéro SIM</label>
                        <p-inputNumber inputId="num_sim" [(ngModel)]="subscriber.num_sim">
                        </p-inputNumber>
                    </div>
                </div>
            </div>

            <div class="ui-g ui-fluid">
                <div class="ui-g-12">
                    <div class="ui-g-4">
                        <label for="fonction">Service</label>
                    </div>
                    <div class="ui-g-8">
                        <select class="ui-g-8" name="service" id="service" [(ngModel)]="service">
                            <option *ngFor="let service of services" [ngValue]="service.id_service">
                                {{service.nom_service}}</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="ui-g ui-fluid">
                <div class="ui-g-12">
                    <div class="ui-g-4">
                        <label for="fonction">Fonction</label>
                    </div>
                    <div class="ui-g-8">
                        <input pInputText id="fonction" [(ngModel)]="subscriber.fonction" required />
                    </div>
                </div>
            </div>


        </ng-template>
        <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
                <button type="button" pButton icon="pi pi-check" (click)="saveSubscriber()" label="Ajouter"></button>
            </div>
        </p-footer>
    </p-dialog>

    <p-dialog header="Donner abonnement au subscriber" [responsive]="true" [(visible)]="displayInfo"
        [style]="{'width': '300px', 'background':'hsl(210deg 67% 56%)'}" [modal]="true" styleClass="p-fluid">

        <ng-template pTemplate="content">

            <div class="ui-g ui-fluid">
                <div class="ui-g-12">
                    <div class="ui-g-4">
                        <label for="abonnement"><b>Abonnement:</b>
                            <div *ngIf="subscriber.abonnement!=null">{{subscriber.abonnement.type}}</div>
                        </label>
                    </div>

                    <div class="ui-g-8">
                        <select class="ui-g-8" name="abonnement" id="abonnement" [(ngModel)]="abonnement">
                            <option *ngFor="let abonnement of abonnements" [ngValue]="abonnement.id_abonnement">
                                {{abonnement.tarif}}</option>
                        </select>
                    </div>
                </div>
            </div>

        </ng-template>
        <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
                <button type="button" pButton icon="pi pi-check" (click)="saveAbonnement()" label="Ajouter"></button>
            </div>
        </p-footer>
    </p-dialog>


    <p-dialog header="Informations Subscriber" [responsive]="true" [(visible)]="detail"
        [style]="{'width': '470px', 'background':'hsl(210deg 67% 56%)'}" [modal]="true" styleClass="p-fluid">

        <ng-template pTemplate="content">

                <div class="infos">
                    <i class="pi pi-user" style="font-size: 3rem;color: #ffffff;background: #87cace;padding: 10px;border-radius: 40px;"></i>
                    <h2 style="color:#87cace;">
                        {{subscriber.nom_subscriber}}
                        {{subscriber.prenom_subscriber}}
                    </h2>
                    <table class="myTab" style="width: 380px;">
                        <tr>
                        <th>Numéro sim</th>
                        <th>{{subscriber.num_sim}}</th>
                        </tr>
                        <tr>
                        <th>Fonction</th>
                        <th>{{subscriber.fonction}}</th>
                        </tr>
                        <tr>
                        <th>Service</th>
                        <th>{{subscriber.service.nom_service}}</th>
                        </tr>
                        <tr>
                        <th>Date de création</th>
                        <th>{{subscriber.date_creation | date:'short'}}</th>
                        </tr>
                        <tr>
                        <th>Abonnement</th>
                        <th>{{subscriber.abonnement.tarif}}</th>
                        </tr>
                        </table>
                </div>

        </ng-template>
    </p-dialog>
</div>