<div class="ui-g">
    <p-toast></p-toast>
    <p-confirmDialog header="Confirmation" acceptLabel="Oui" rejectLabel="Non" icon="pi pi-exclamation-triangle">
    </p-confirmDialog>
    <p-panel header="Gestion de subscribers" [style]="{'width':'80%'}">
        <div style="margin-bottom: 20px;">
            <p-menubar [model]="items"></p-menubar>
        </div>
        <p-table [value]="subscribers" [columns]="cols" selectionMode="single" [(selection)]="subscriber"
            dataKey="num_sim" [paginator]="true" [rows]="4">
            
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                        {{col.header}}
                        <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                            ariaLabelDesc="Activate to sort in descending order"
                            arialLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-subscriber let-columns="columns">
                <tr [pSelectableRow]="subscriber" >
                    <td *ngFor="let col of columns">
                        {{subscriber[col.field]}}
                    </td>
            </ng-template>
        </p-table>
    </p-panel>
    <p-dialog header="Nouveau subscriber" [responsive]="true" [(visible)]="displaySaveDialog"
        [style]="{'width': '300px', 'background':'hsl(210deg 90% 75%)'}" [modal]="true" styleClass="p-fluid">

        <ng-template pTemplate="content">

            <div class="ui-g ui-fluid">
                <div class="ui-g-12">
                    <div class="ui-g-4">
                        <label for="nom_subscriber">Nom</label>
                    </div>
                    <div class="ui-g-8">
                        <input pInputText id="nom_subscriber" [(ngModel)]="subscriber.nom_subscriber" required="true" />
                    </div>
                </div>
            </div>

            <div class="ui-g ui-fluid">
                <div class="ui-g-12">
                    <div class="ui-g-4">
                        <label for="prenom_subscriber">Prénom</label>
                    </div>
                    <div class="ui-g-8">
                        <input pInputText id="prenom_subscriber" [(ngModel)]="subscriber.prenom_subscriber" required />
                    </div>
                </div>
            </div>

            <div class="ui-g ui-fluid">
                <div class="ui-g-12">
                    <div class="ui-g-8">
                        <label for="num_sim">Numéro SIM</label>
                        <p-inputNumber inputId="num_sim" [(ngModel)]="subscriber.num_sim">
                        </p-inputNumber>
                    </div>
                </div>
            </div>

            <div class="ui-g ui-fluid">
                <div class="ui-g-12">
                    <div class="ui-g-4">
                        <label for="fonction">Service</label>
                    </div>
                    <div class="ui-g-8">
                        <select class="ui-g-8" name="service" id="service" [(ngModel)]="service">
                            <option *ngFor="let service of services" [ngValue]="service.id_service">{{service.nom_service}}</option>
                        </select>
                    </div>
                </div>
            </div>
            
{{service}}
            <div class="ui-g ui-fluid">
                <div class="ui-g-12">
                    <div class="ui-g-4">
                        <label for="fonction">Fonction</label>
                    </div>
                    <div class="ui-g-8">
                        <input pInputText id="fonction" [(ngModel)]="subscriber.fonction" required />
                    </div>
                </div>
            </div>


        </ng-template>
        <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
                <button type="button" pButton icon="pi pi-check" (click)="saveSubscriber()" label="Ajouter"></button>
            </div>
        </p-footer>
    </p-dialog>

    <p-dialog header="Information subscriber" [responsive]="true" [(visible)]="displayInfo"
        [style]="{'width': '300px', 'background':'hsl(210deg 90% 75%)'}" [modal]="true" styleClass="p-fluid">

        <ng-template pTemplate="content">

           <b>Nom:</b> {{subscriber.nom_subscriber}}
           <br>
           <b>Prenom:</b> {{subscriber.prenom_subscriber}}
           <br>
           <b>Numéro sim:</b> {{subscriber.num_sim}}
           <br>
           <b>Service:</b>{{subscriber.service_id}}
           <br>
           <b>Fonction:</b> {{subscriber.fonction}}

           <div class="ui-g ui-fluid">
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label for="abonnement">Abonnement</label>
                </div>
                <div class="ui-g-8">
                    <select class="ui-g-8" name="abonnement" id="abonnement" [(ngModel)]="abonnement">
                        <option *ngFor="let abonnement of abonnements" [ngValue]="abonnement.id_abonnement">{{abonnement.type}}</option>
                    </select>
                </div>
            </div>
        </div>

        </ng-template>
        <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
                <button type="button" pButton icon="pi pi-check" (click)="saveAbonnement()" label="Ajouter"></button>
            </div>
        </p-footer>
    </p-dialog>

    
</div>