:host ::ng-deep .p-password input {
    width: 15rem
}
.p-inputgroup {
    width: 73% !important;
    margin-left: 45px !important;
    margin-top: 40px !important;

}
*{
    text-align: center !important;
    border-color: #87cace !important;
    
}
.p-password {
    border: 1px solid #87cace !important;
}
body{
    background-image: url("https://assets.codepen.io/361089/internal/screenshots/pens/ZQJyeq.default.png?fit=cover&format=auto&ha=true&height=719&quality=75&v=2&version=1453997785&width=1279") !important;
    padding-top: 120px;
    height: 655px;
}
.p-button.p-button-success, .p-buttonset.p-button-success > .p-button, .p-splitbutton.p-button-success > .p-button {
    color: #ffffff;
    background: #87cace;
    border: 1px solid #87cace;
    margin-top: 40px;
}
.auth{
    border: 2px solid #87cace !important;
    width: 334px;
    height: 400px;
    margin-left: 500px;
    background-color: #fbfbfb;
    box-shadow: 12px 12px 12px rgba(109, 164, 231, 0.2);
    border-radius: 34px;
}
h3{
    font-family: monospace;
    font-weight: bold;
    font-size: 30px;
    color: #87cace;
}

.pi{
    color: #87cace !important;
    font-size: 30px !important;
}