<div class="ui-g" style=" width: 1093px;">
    <p-toast></p-toast>
    <p-confirmDialog header="Confirmation" acceptLabel="Oui" rejectLabel="Non" icon="pi pi-exclamation-triangle">
    </p-confirmDialog>
    <p-panel header="Historique de matériels" [style]="{'width':'80%'}">
        <p-table [value]="historiques" [columns]="cols" selectionMode="single" [(selection)]="historique"
            dataKey="serial_number" [paginator]="true" [rows]="4">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                        {{col.header}}
                        <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                            ariaLabelDesc="Activate to sort in descending order"
                            arialLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                    </th>
                    <th>
                        Justification
                    </th>
                    <th>
                        Materiel
                        <p-sortIcon  ariaLabel="Activate to sort"
                        ariaLabelDesc="Activate to sort in descending order"
                        arialLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-historique let-columns="columns">
                <tr >
                    <td *ngFor="let col of columns">
                        {{historique[col.field]}}
                    </td>
                    <td>
                        {{historique.materiel.justification}}
                    </td>
                    <td>
                        {{historique.materiel.id_materiel}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-panel>
</div>