body{
    margin: 0px;

}

.p-panelmenu-header-link{
    width: 297px;
}
.p-panel .p-panel-header{
    background-color: #86bff9 !important; 
    color: #f8f9fa !important;
    font-size: 24px !important;
}
.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link .p-menuitem-icon {
    color: #86bff9 !important;
}
.p-menubar {
    
    border: 1px solid #86bff9 !important;
}
.p-panel .p-panel-content {
    border: 1px solid #86bff9 !important;
}





a.p-panelmenu-header-link.ng-tns-c112-0.ng-star-inserted.p-menuitem-link-active  {
    background: white !important;
    font-style: italic;
    color: #86bff9;
}
